<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,800;1,300;1,400;1,500;1,600&display=swap"
      rel="stylesheet"
    />
    <!-- Favicons -->
    <link href="{{ url_for('static', filename='assets/img/favicon.png') }}" rel="icon">
    <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link rel="stylesheet" href="/static/assets/css/general.css" />
    <link rel="stylesheet" href="/static/assets/css/style2.css" />
    <link rel="stylesheet" href="/static/assets/css/query.css" />
    <link rel="stylesheet" href="/static/assets/css/cart.css" />
    <link href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
     <!-- Template Main CSS File -->
    <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">

    <script defer src="/static/assets/js/index.js"></script>
    <title>The BookSale</title>
  </head>
  <body>
    <!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="/">BookStore</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">本月暢銷</a></li>
        <li class="dropdown"><a href="#"><span>書籍類別</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">工具書</a></li>
            <li><a href="#">雜誌</a></li>
            <li><a href="#">科幻小說</a></li>
            <li><a href="#">愛情小說</a></li>
            <li><a href="#">漫畫</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>書本語言</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">中文</a></li>
            <li><a href="#">英文</a></li>
          </ul>
        </li>
        {% if 'logged_in' in session and session['logged_in'] %}
        <li><a class="nav-link scrollto" href="#">會員中心</a></li>
        <li><a class="nav-link scrollto" href="{{ url_for('logout') }}">登出</a></li>
        <li><a href="{{ url_for('show_cart') }}"><ion-icon class="cart-icon" name="cart-sharp" size="large"></ion-icon></a></li>
        {% else %}
        <li><a class="getstarted scrollto" href="{{ url_for('login') }}">Login</a></li>
        <li><a class="getstarted scrollto" href="{{ url_for('register') }}">註冊</a></li>
        {% endif %}
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

    <!-- MAIN CONTENT -->
    <main>
      <section class="cart-section">
        <h2 class="container heading-secondary cart-title margin-bottom-super">
          購物車
        </h2>

        <div class="container grid cart-grid">
          <div class="cart-books">
            {% for item in cart_items %}
            <div class="cart-book">
              <form action="#" class="cart-book__form">
                <div class="img-box margin-right-sm">
                  <img
                    class="cart-img"
                    src="/static/assets/img/book/{{ item.name }}.jpg"
                    alt="Cay cam ngot cua toi"
                  />
                </div>
                <p class="cart-book-title margin-right-super">
                  {{ item.name }}
                </p>

                <div class="price-tag margin-right-super">
                  <p class="price-tag__sale">{{ item.price }}</p>
                </div>
                <div class="quantity-box__cart quantity-box margin-right-super">
                  <button class="btn-decrease" data-title="{{ item.name }}">-</button>
                  <input class="book-quantity" type="number" min="0" value={{item.quantity}} />
                  <button class="btn-increase" data-title="{{ item.name }}">+</button>
                </div>
                <button type="submit" class="btn-detele-item"  data-title="{{ item.name }}">
                  <ion-icon class="delete-icon" name="trash-outline"></ion-icon>
                </button>
              </form>
            </div>
            {% endfor %}
          </div>
          <aside class="customer-info">
            <div class="address-box">
              <div class="address-header">
                <p class="address-heading">運送地</p>
                <a href="#" class="change-address__link">更改</a>
              </div>
              <div class="info">
                <p class="info-name padding-r-md">台中</p>
                <p class="info-phone padding-l-md">0383314133</p>
              </div>
              <address class="info-address">
                <span>地址</span>
                402台中市南區興大路145號
              </address>
            </div>
            <div class="total-price-section">
              <h2 class="price-title">支付</h2>
              <div class="total">
                <span>總金額</span>
                <span>{{ total_price }}</span>
              </div>
            </div>
            <button class="btn btn--radius btn-order">確認</button>
          </aside>
        </div>
      </section>
    </main>

    <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Arsha</h3>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Arsha</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='assets/js/cart.js') }}"></script>
  </body>
</html>
