<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BookStore</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='assets/img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="{{ url_for('index') }}">BookStore</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">本月暢銷</a></li>
        <li class="dropdown"><a href="#"><span>書籍類別</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="{{ url_for('bookByCategory') }}?category=工具書">工具書</a></li>
            <li><a href="{{ url_for('bookByCategory') }}?category=雜誌">雜誌</a></li>
            <li><a href="{{ url_for('bookByCategory') }}?category=fiction">科幻小說</a></li>
            <li><a href="{{ url_for('bookByCategory') }}?category=愛情小說">愛情小說</a></li>
            <li><a href="{{ url_for('bookByCategory') }}?category=漫畫">漫畫</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>書籍語言</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">中文</a></li>
            <li><a href="#">英文</a></li>
          </ul>
        </li>
        {% if 'logged_in' in session and session['logged_in'] %}
        <li><a class="nav-link scrollto" href="{{ url_for('member') }}">會員中心</a></li>
        <li><a class="nav-link scrollto" href="{{ url_for('logout') }}">登出</a></li>
        <li>
          <a href="{{ url_for('show_cart') }}">
            <ion-icon class="cart-icon" name="cart-sharp" size="large"></ion-icon>
            <span id="item-count">{{ cart_count }}</span>
          </a>
        </li>
        {% else %}
        <li><a class="getstarted scrollto" href="{{ url_for('login') }}">Login</a></li>
        <li><a class="getstarted scrollto" href="{{ url_for('register') }}">註冊</a></li>
        {% endif %}
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>電腦工具書大特賣!</h1>
          <h2>走在時代的尖端不被淘汰</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="{{ url_for('static', filename='assets/img/hero-img.png') }}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <footer id="footer">
    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>一起進入書本的海洋吧</h4>
            <form action="/search" method="post">
              <input type="text" name="keyword" placeholder="輸入書名、出版社、作者的關鍵字"><input type="submit" value="Search">            </form>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>各類暢銷書</h2>
        </div>
        
        <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <li data-filter=".all" class="filter-active">所有書籍</li>
          <li data-filter=".textbook">工具書</li>
          <li data-filter=".magazine">雜誌</li>
          <li data-filter=".fiction">科幻小說</li>
          <li data-filter=".romance">愛情小說</li>
          <li data-filter=".comic">漫畫</li>
        </ul>
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
        </div>

      </div>
    </section><!-- End Portfolio Section -->
    

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

            <div class="content">
              <h3><strong>常見問題</strong></h3>
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> 要如何退換貨? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                    <p>
                      填寫退貨單並包裝完整的寄回本公司。
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span>取貨後的幾天內可以退貨? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      七天內皆可無條件退貨
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> 為什麼有時候不能超商取貨?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      若物流堵塞，您附近的便利商店會關閉物流服務，您可以選擇其他間便利商店試試看。
                    </p>
                  </div>
                </li>

              </ul>
            </div>

          </div>

          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("assets/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>BookStore</h3>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>BookStore</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/waypoints/noframework.waypoints.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
  $("#portfolio-flters li").click(function() {
    var filter = $(this).attr('data-filter').substring(1); // 去掉前面的"."
    $.ajax({
      url: '/api/getImages',  // 替換成你的後端 API 接口
      method: 'POST',
      contentType: 'application/json',  // 設置請求內容類型
      data: JSON.stringify({ 'category': filter }),  // 將請求資料轉換為 JSON 格式
      success: function(data) {
        $(".portfolio-container").empty();  // 清空原有內容
        data.forEach(function(bookname) {
          console.log(bookname)
          var imgPath = 'static/assets/img/book/' + bookname + '.jpg';
          var item = '<div class="col-lg-2 col-md-6 portfolio-item filter-card"><div class="portfolio-img"><img src="' + imgPath + '" class="img-fluid" alt=""><a href="#" onclick="add_to_cart(\'' + bookname + '\')" ><ion-icon  class="cart-icon" name="heart-outline" size="large"></ion-icon></a></div></div>';
          $(".portfolio-container").append(item);  // 加入新的內容
          let portfolioContainer = document.querySelector('.portfolio-container');
          let newImageHeight = document.querySelector('.portfolio-img img').offsetHeight;
          portfolioContainer.style.height = 350 + 'px';
        });
      }
    });
  });
  $("#portfolio-flters li.filter-active").click();
  
});
function add_to_cart(book_name) {
  event.preventDefault();
  console.log("booknameeeeeeeeeeee  = " + book_name);
  // Create an XMLHttpRequest object
  var xhr = new XMLHttpRequest();

  // Configure the request
  xhr.open('POST', '/add_to_cart', true);

  // Set the request headers if needed
  // xhr.setRequestHeader('Content-Type', 'application/json');

  // Set up the callback function for the request
  xhr.onload = function() {
    if (xhr.status === 200) {
      // Request was successful
      var response = xhr.responseText;
      var data = JSON.parse(response);

      // Access the total number
      var totalItems = data.total_items[0];
      var cart_count = document.getElementById("item-count");
      cart_count.innerText = totalItems.toString();
    } else {
      // Request failed
      console.error('Request failed. Status: ' + xhr.status);
      // Handle the error case
    }
  };

  // Set up the request payload if needed
  var data = { book_name: book_name , quantity: "1"};

  // Send the request
  xhr.send(JSON.stringify(data));
  console.log("Button clicked!");
}
</script>



</body>

</html>